<section [ngStyle]="{ width: '75vw' }">
  <div
    [ngStyle]="{
      display: 'flex',
      justifyContent: 'space-between',
      alignItems: 'center'
    }"
  >
    <div>
      <h4 class="mat-display-1" [ngStyle]="{ marginBottom: '0' }">
        Profile Manager
      </h4>

      <p [ngStyle]="{ margin: '0' }">
        Please visit
        <a
          href="https://library.threefold.me/info/manual/#/manual__weblets_profile_manager"
          target="_blank"
          [ngStyle]="{
            color: '#485fc7',
            cursor: 'pointer',
            textDecoration: 'none',
            outline: 'none'
          }"
        >
          the manual
        </a>
        to get started.
      </p>
    </div>

    <mat-button-toggle-group
      #group="matButtonToggleGroup"
      (valueChange)="password.reset()"
      value="activate"
      [ngStyle]="{
        display: (active$ | async) ? 'none' : undefined
      }"
    >
      <mat-button-toggle value="activate">Activate</mat-button-toggle>
      <mat-button-toggle value="new">New</mat-button-toggle>
    </mat-button-toggle-group>

    <div
      *ngIf="active$ | async"
      [ngStyle]="{
        display: 'flex',
        justifyContent: 'center',
        alignItems: 'center'
      }"
    >
      <button mat-stroked-button color="primary" (click)="addProfile()">
        <mat-icon matPrefix>add</mat-icon>
        <span>Add Profile</span>
      </button>

      <button
        mat-flat-button
        color="primary"
        [ngStyle]="{ margin: '0 10px' }"
        (click)="save()"
      >
        Save
      </button>

      <button
        mat-flat-button
        color="warn"
        *ngIf="profile$ | async"
        (click)="deactivate()"
      >
        Deactivate & Back
      </button>

      <button
        mat-flat-button
        color="warn"
        *ngIf="!(profile$ | async)"
        (click)="unactivate()"
      >
        Back
      </button>
    </div>
  </div>

  <mat-divider [ngStyle]="{ margin: '20px 0' }"></mat-divider>

  <ng-template [ngIf]="active$ | async" [ngIfElse]="login">
    <mat-tab-group animationDuration="0s" disableRipple>
      <ng-container *ngIf="profiles$ | async as profiles">
        <mat-tab *ngFor="let profile of profiles; let i = index">
          <ng-template mat-tab-label>
            <span>Profile {{ i + 1 }}</span>
            <button
              mat-icon-button
              [ngStyle]="{ marginLeft: '10px' }"
              *ngIf="i"
              color="warn"
              (click)="removeProfile($event, i)"
            >
              <mat-icon>close</mat-icon>
            </button>
          </ng-template>
          <app-profile
            [profile]="profile"
            [activeProfile]="profile$ | async"
            [index]="i"
            (onActive)="save()"
          ></app-profile>
        </mat-tab>
      </ng-container>
    </mat-tab-group>
  </ng-template>
</section>

<ng-template #login>
  <form [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        formControlName="password"
        placeholder="Profile Manager Password"
        cdkFocusInitial
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
        type="button"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>

      <!-- prettier-ignore -->
      <mat-error *ngIf="password.errors">
        <span *ngIf="password.errors['required']">Password is required</span>
        <span *ngIf="password.errors['found']">Store with same password already found</span>
        <span *ngIf="password.errors['notfound']">No Store found with this password</span>
      </mat-error>
    </mat-form-field>

    <div
      [ngStyle]="{
        display: 'flex',
        justifyContent: 'center'
      }"
    >
      <button
        mat-flat-button
        color="primary"
        [disabled]="form.invalid"
        (click)="
          group.value === 'activate' ? loadProfiles() : createNewProfile()
        "
      >
        {{
          group.value === "activate"
            ? "Load Profiles"
            : "Create New Profile Manager"
        }}
      </button>
    </div>
  </form>
</ng-template>
