<form
  [formGroup]="vmForm"
  (ngSubmit)="deploy()"
  [ngStyle]="{ display: 'block', padding: '25px' }"
>
  <mat-card>
    <h4 class="mat-display-1">Deploy Virtual Machine</h4>
    <mat-tab-group mat-align-tabs="center" [animationDuration]="0">
      <mat-tab label="Config">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input
            matInput
            placeholder="Virtual Machine Name"
            formControlName="name"
          />
          <mat-error *ngIf="name.errors?.['required']">
            Name is required
          </mat-error>
          <mat-error *ngIf="name.errors?.['minlength']">
            Name min length is 2
          </mat-error>
          <mat-error *ngIf="name.errors?.['maxlength']">
            Name max length is 15
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Flist</mat-label>
          <input
            matInput
            placeholder="Virtual Machine Flist"
            formControlName="flist"
          />
          <mat-error *ngIf="flist.errors?.['required']">
            Flist is required
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Entry Point</mat-label>
          <input
            matInput
            placeholder="Virtual Machine Entry Point"
            formControlName="entryPoint"
          />
          <mat-error *ngIf="entryPoint.errors?.['required']">
            Entry Point is required
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Root File System Size (GB)</mat-label>
          <input
            type="number"
            matInput
            placeholder="Virtual Machine Root FS size"
            formControlName="rootFs"
          />
          <mat-error *ngIf="rootFs.errors?.['required']">
            RootFs is required
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>CPU (Cores)</mat-label>
          <input
            type="number"
            matInput
            placeholder="Virtual Machine CPU"
            formControlName="cpu"
          />
          <mat-error *ngIf="cpu.errors?.['required']">
            CPU is required
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Memory (MB)</mat-label>
          <input
            type="number"
            matInput
            placeholder="Virtual Machine Root Memory"
            formControlName="memory"
          />
          <mat-error *ngIf="memory.errors?.['required']">
            Memory is required
          </mat-error>
        </mat-form-field>

        <div>
          <mat-slide-toggle color="primary" formControlName="ipv4">
            Public IPV4
          </mat-slide-toggle>
        </div>

        <div>
          <mat-slide-toggle color="primary" formControlName="ipv6">
            Public IPV6
          </mat-slide-toggle>
        </div>

        <div>
          <mat-slide-toggle color="primary" formControlName="planetary">
            Planetary
          </mat-slide-toggle>
        </div>

        <mat-form-field>
          <mat-label>Node ID</mat-label>
          <input
            type="number"
            matInput
            placeholder="Node ID"
            formControlName="nodeId"
          />
          <mat-error *ngIf="nodeId.errors?.['required']">
            NodeId is required
          </mat-error>

          <mat-error *ngIf="nodeId.errors?.['error']">
            NodeId is not correct
          </mat-error>
        </mat-form-field>
      </mat-tab>

      <mat-tab label="Environment Variables">
        <div class="to-right">
          <button mat-icon-button color="primary" (click)="addEnv()">
            <mat-icon>add</mat-icon>
          </button>
        </div>

        <ng-container formArrayName="envs">
          <ng-container *ngFor="let env of envsCtrl; let i = index">
            <div [formGroup]="env">
              <div class="to-right">
                <button mat-icon-button color="warn" (click)="removeEnv(i)">
                  <mat-icon>remove</mat-icon>
                </button>
              </div>
              <mat-form-field>
                <mat-label>Key</mat-label>
                <input
                  matInput
                  placeholder="Environment Variable Key"
                  formControlName="key"
                />
              </mat-form-field>

              <mat-form-field>
                <mat-label>Value</mat-label>
                <input
                  matInput
                  placeholder="Environment Variable Value"
                  formControlName="value"
                />
              </mat-form-field>
            </div>
          </ng-container>
        </ng-container>
      </mat-tab>
      <mat-tab label="Disks">
        <div class="to-right">
          <button mat-icon-button color="primary" (click)="addDisk()">
            <mat-icon>add</mat-icon>
          </button>
        </div>

        <ng-container formArrayName="disks">
          <ng-container *ngFor="let disk of disksCtrl; let i = index">
            <div [formGroup]="disk">
              <div class="to-right">
                <button mat-icon-button color="warn" (click)="removeDisk(i)">
                  <mat-icon>remove</mat-icon>
                </button>
              </div>
              <mat-form-field>
                <mat-label>Name</mat-label>
                <input
                  matInput
                  placeholder="Disk Name"
                  formControlName="name"
                />
              </mat-form-field>

              <mat-form-field>
                <mat-label>Size</mat-label>
                <input
                  matInput
                  type="number"
                  placeholder="Disk Size"
                  formControlName="size"
                />
              </mat-form-field>

              <mat-form-field>
                <mat-label>Mount Point</mat-label>
                <input
                  matInput
                  placeholder="Mount Point"
                  formControlName="mountPoint"
                />
              </mat-form-field>
            </div>
          </ng-container>
        </ng-container>
      </mat-tab>
      <mat-tab label="Profile">
        <mat-form-field>
          <mat-label>Mnemonics</mat-label>
          <input matInput placeholder="Mnemonics" formControlName="mnemonics" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>SSH KEY</mat-label>
          <input matInput placeholder="SSH Key" formControlName="sshKey" />
        </mat-form-field>
      </mat-tab>
    </mat-tab-group>
    <div class="to-right">
      <button
        mat-raised-button
        [disabled]="vmForm.invalid || loading"
        type="submit"
        color="primary"
      >
        {{ loading ? "Loading..." : "Deploy" }}
      </button>
    </div>
  </mat-card>
</form>
